*.env
*.env.json
airflow/dags/__pycache__
dbt/profiles.yml
airflow/logs/*
notebooks/

dbt/target/
dbt/dbt_packages/
dbt/logs/

.DS_Store

# Terraform
.terraform*
terraform.tfvars*

# testing
.coverage
__pycache__/
test_venv/
.pytest_cache/
.ruff_cache/